@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200..800&display=swap')
    /* Reset default margin and padding */
body, ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the navigation bar */
  .navbar {
    background-color: #333; /* Dark background color */
  }
  
  .nav-list {
    list-style-type: none; /* Remove default list bullets */
    margin: 0;
    padding: 0;
  }
  
  .nav-list li {
    display: inline; /* Display list items inline */
  }
  
  .nav-list li a {
    display: block; /* Make anchor tags block-level */
    padding: 1rem; /* Add padding around anchor tags */
    text-decoration: none; /* Remove default underline */
    color: #fff; /* Text color */
  }
  
  .nav-list li a:hover {
    background-color: #555; /* Darken background color on hover */
  }
  h1{
        font-family: "Stick No Bills", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
   }
  
  